/* config-colors */

body {
    background-color: white;
}

.master-container {
    background-color: rgb(248, 247, 247);
    margin: 2% 1.5%;
    box-shadow: 1px 4px 4px 5px rgba(0,0,0,0.2);
}

.navbarSup {
    background-color: rgb(224, 224, 224);
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
}

.itemClick {
    transition: 1s background-color;
}

.itemClick:hover {
    background-color: grey;
    cursor: pointer;
}
.list-group, button {
    box-shadow: 2px 1px 1px 1px rgba(0,0,0,0.2);
}

/* COBAIA */

.person {
    width: 50px;
    height: 50px;
    background-color: grey;
    border-radius: 100%;
}
