.collaborators{
    height: 450px;
    overflow: hidden;
    overflow: scroll;
}
h1 {
    align-items: center;
}

.descriptionCollaborator {
    font-size: 0.7em;
    color: rgba(0,0,0,0.7);
}

.nameCollaborator {
    font-size: 0.8em;
}
